.btn-opacity {
  transition-property: opacity;
  transition-duration: 0.1s;
}

.btn-opacity:hover {
  opacity: 0.9;
}

button {
  cursor: pointer;
}

body,
.page {
  background-color: #eff2f7;
  height: 100%;
  min-height: 100vh;
}
